.cke_editable  {
    font-family: 'latoregular';
}

.cke_path {
    display: none;
}

.cke,
.cke_chrome {
    border: 1px solid #e6e6e6!important;
    box-shadow: none!important;
    border-radius: 4px!important;
}

.cke_top {
    background: #f6f6f6!important;
    border-bottom: 1px solid #e6e6e6!important;
    box-shadow: none!important;
}

.cke_bottom {
    background: #f6f6f6!important;
    border-top: 1px solid #e6e6e6!important;
    box-shadow: none!important;
}

.cke_bottom .cke_path_item {
    font-family: 'Roboto', sans-serif!important;
    transition-duration: .25s;
}
    .cke_bottom .cke_path_item:hover {
        background: #03bad2;
        color: #ffffff;
        box-shadow: none;
        border: 0;
    }

a.cke_combo_button,
.cke_toolgroup {
    background: #f6f6f6!important;
    border: 1px solid #e6e6e6!important;
    box-shadow: none!important;
}

a.cke_button_on,
a.cke_button_off:hover, 
a.cke_button_off:focus, 
a.cke_button_off:active, 
a.cke_button_disabled:hover, 
a.cke_button_disabled:focus, 
a.cke_button_disabled:active,
a.cke_combo_button,
a.cke_combo_button:hover,
a.cke_combo_button:active,
a.cke_combo_button:focus,
.cke_combo_on a.cke_combo_button,
.cke_combo_on a.cke_combo_button:hover,
.cke_combo_on a.cke_combo_button:active,
.cke_combo_on a.cke_combo_button:focus {
    box-shadow: none!important;
}

.cke_button,
a.cke_button {
    background: none!important
}

a.cke_button_on {
    background: #e6e6e6!important;
}