/*  ==========================================================================
    CUSTOM CSS
    ========================================================================== */
body {
    font-family: 'latoregular';
    font-size: 14px;
    line-height: 22px;
    color: #404040;
    background: #f9f9f9;
    padding-top: 44px;
    }
    body.open-sneak { overflow: hidden; padding-right: 17px; }

.ps-scrollbar-x-rail,
.ps-scrollbar-y-rail { z-index: 99999; }
    
* a {
    transition-duration: .25s;
    color: #00a8a0;
}
* a:hover, * a:focus {
    text-decoration: none;
    color: #00a8a0;
}
    
::-moz-selection {
    text-shadow: none;
    background: #00a8a0;
    color: #ffffff;
}
::selection {
    text-shadow: none;
    background: #00a8a0;
    color: #ffffff;
}
input:focus {
    outline: 0;
    box-shadow: none;
}

strong, b {
    font-weight: normal;
    font-family: 'latobold';
}
em, i {
    font-style: normal;
    font-family: 'latoitalic';
}

a:focus, button:focus, input:focus, textarea:focus, select:focus {
    box-shadow: none!important;
    outline: 0!important;
}

h1, h2, h3, h4, h5 { letter-spacing: -.02em; }

/*  ==========================================================================
    LOADER
    ========================================================================== */
.loader-wrap {
    position: fixed;
    z-index: 1010;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(47, 64, 80, .9);
    transition-duration: .3s;
    visibility: hidden;
    opacity: 0;
}
    .loader-wrap.in,
    .loader-wrap.in .fa.fa-loader {
        visibility: visible;
        opacity: 1;
    }
    .loader-wrap .fa.fa-loader {
        color: #00a8a0;
        font-size: 32px;
        position: absolute;
        line-height: 34px;
        width: 34px;
        text-align: center;
        top: 50%;
        left: 50%;
        margin-top: -17px;
        margin-left: -17px;
        transition-duration: .3s;
        visibility: hidden;
        opacity: 0;
    }

.loading-wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    height: 2px;
    background: #293846;
    overflow: hidden;
}
    .loading-bar {
        background-color: #00a8a0;
        height: 2px;
        transition-duration: .25s;
        width: 0;
    }

.loading-caption {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 50%;
    width: 100%;
    left: 0;
    height: 30px;
    margin-top: 12px;
    font-family: 'latoitalic';
}
    .loading-caption .fa {
        color: #00a8a0;
    }

/*  ==========================================================================
    BT OVERRIDES && GLOBALS
    ========================================================================== */
.ta-left {
    text-align: left;
}
.ta-right {
    text-align: right;
}
.ta-center {
    text-align: center;
}

.dp-handler {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    position: relative;
    background-color: #ffffff!important;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
}
    .dp-handler-flex {
        width: 100%;
        padding-bottom: 100%;
        height: auto;
    }
    .dp-handler a {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 4px;
    }

.color-primary,
.color-primary a {
    color: #00a8a0!important;
}

.fc-gray {
    color: #e6e6e6;
}
.fc-primary {
    color: #00a8a0;
}
.fc-warning {
    color: #fab758;
}
.fc-danger {
    color: #ee6b68;
}

.list-group-item.active:hover,
.list-group-item.active:active,
.list-group-item.active:focus {
    background-color: #009b93;
    border-color: #009b93;
}
.list-group-item.active {
    background-color: #00a8a0;
    border-color: #009b93;
}

.dropdown-menu {
    border-color: #e5e5e5;
}

/*  ==========================================================================
    MODAL
    ========================================================================== */
.modal-content {
    border: 0;
    border-radius: 4px;
}

.modal-header {
    text-align: center;
    padding: 30px;
    position: relative;
}
    .modal-header .close {
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 32px;
        box-shadow: none;
        text-shadow: none;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        transition-duration: .25s;
    }
    .modal-header h4 {
        font-family: 'latobold';
        font-size: 26px;
    }
    .modal-header span {
        display: block;
        font-size: 16px;
        font-family: 'latoregular';
        line-height: 1.4;
        margin-top: 5px;
    }


.modal-body {
    background: #f6f6f6;
    padding: 28px;
}

    .modal-body .input-field-wrap .form-control { background: #ffffff; }
    .modal-body .input-field-wrap select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: url(../images/caret.png) no-repeat #ffffff;
        background-position: right 8px center;
        background-size: 16px 16px;
        padding-right: 30px;
        cursor: pointer;
    }

    .modal-body .input-field-wrap .form-control[readonly] { background: #f6f6f6; }

    .input-field-wrap div[class^="col-"]:not(:first-child) > .btn {
        width: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .panel-footer .form-control,
    .panel-footer .form-control.Tokenize {
        background-color: #ffffff;
    }

    .modal-info {
        padding: 28px 14px;
        margin: -14px -14px 20px -14px;
        border-bottom: 1px solid #e6e6e6;
    }
        .modal-info-dp {
            float: left;
            height: 60px;
            width: 60px;
            margin-right: 14px;
        }
        .modal-info h2 {
            font-family: 'latobold';
            font-size: 24px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }
        .modal-info h2 a {
            color: #404040;
        }
        .modal-info h4 {
            font-family: 'latoitalic';
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

    .modal-preloader {
        padding: 28px 0;
        text-align: center;
    }
        .modal-preloader .fa {
            color: #00a8a0;
        }

    .form-horizontal .modal-last-form-group.form-group {
        margin-bottom: 6px;
    }

    .modal-footer-btn {
        float: right;
        margin: -2px;
    }
    .modal-footer-btn .btn-group {
        float: left;
        margin: 2px;
    }
    .modal-footer-btn .btn-group .btn {
        margin: 0;
    }
    .modal-footer-btn .btn {
        float: left;
        margin: 2px;
    }

    .modal-footer .btn+.btn {
        margin-left: 2px;
        margin-bottom: 2px;
    }

.modal-backdrop {
    background: rgba(47, 64, 80, .9);
    cursor: pointer;
}
.modal-backdrop.in {
    opacity: 1;
}

.modal-wide .modal-dialog {
    width: 100%;
    max-width: 900px;
}

.modal-with-table .modal-body {
    padding-left: 0;
    padding-right: 0;
}

/*  ==========================================================================
    BUTTONS & ALERS
    ========================================================================== */
.btn {
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    padding: 8px 24px;
    color: #ffffff;
    transition-duration: .25s;
    font-family: 'latobold';
    height: 36px;
}

    .btn .fa { font-size: 14px; }
    .btn.btn-fw {
        width: 100%;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }

    .btn.btn-default {
        background: #ffffff;
        border: 1px solid #e6e6e6;
        color: #404040;
    }
    .btn.btn-default.active,
    .btn.btn-default:hover,
    .btn.btn-default:active,
    .btn.btn-default:focus {
        background: #f6f6f6;
        border: 1px solid #e6e6e6;
        box-shadow: none;
    }

    .btn.btn-primary {
        background: #00a8a0;
    }
    .btn.btn-primary.active,
    .btn.btn-primary:hover,
    .btn.btn-primary:active,
    .btn.btn-primary:focus {
        background: #009b93;
        box-shadow: none;;
    }

    .btn.btn-success {
        background: #92da84;
    }
    .btn.btn-success.active,
    .btn.btn-success:hover,
    .btn.btn-success:active,
    .btn.btn-success:focus {
        background: #87c97a;
        box-shadow: none;;
    }

    .btn.btn-info {
        background: #6dd2f0;
    }
    .btn.btn-info.active,
    .btn.btn-info:hover,
    .btn.btn-info:active,
    .btn.btn-info:focus {
        background: #64c2dd;
        box-shadow: none;;
    }

    .btn.btn-warning {
        background: #fab758;
    }
    .btn.btn-warning.active,
    .btn.btn-warning:hover,
    .btn.btn-warning:active,
    .btn.btn-warning:focus {
        background: #e6a951;
        box-shadow: none;;
    }

    .btn.btn-danger {
        background: #ee6b68;
    }
    .btn.btn-danger.active,
    .btn.btn-danger:hover,
    .btn.btn-danger:active,
    .btn.btn-danger:focus {
        background: #db6360;
        box-shadow: none;;
    }

    .btn.btn-white {
        background: #ffffff;
        color: #00a8a0;
    }
    .btn.btn-white:hover,
    .btn.btn-white:active,
    .btn.btn-white:focus {
        background: #ffffff;
        color: #00a8a0;
    }

    .btn.btn-sm {
        padding: 4px 14px;
        font-size: 11px;
        border-radius: 4px;
        height: 28px;
        line-height: 20px;
    }
        .btn.btn-sm .fa { font-size: 11px; }
        .btn.btn-sm .fa.fa-14 { font-size: 14px; }

    .btn.btn-xs {
        padding: 1px 12px;
        font-size: 11px;
        line-height: 20px;
        height: 22px;
    }

    .btn.btn-xl {

    }

    .btn-full-width {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

.btn-group {
    
}
    .btn-group .btn {
        margin: 0!important;
    }

    .shift-btn-group .btn.active span {
        display: block;
        padding-left: 16px;
        position: relative;
    }
    .shift-btn-group .btn.active span:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        position: absolute;
        left: 0;
        line-height: 22px;
    }

.btn.btn-sm.btn-squared {
    padding-left: 0;
    padding-right: 0;
    width: 28px;
    text-align: center;
}
.btn.btn-sm.btn-circle {
    padding-left: 0;
    padding-right: 0;
    width: 28px;
    text-align: center;
    border-radius: 50%;
}

.alert {
    border: 0;
    padding: 14px 24px;
    position: relative;
    z-index: 1;
    margin-bottom: 28px;
}
    .alert.alert-success {
        background: #def4da;
        color: #43653c;
    }
        .alert.alert-success a {
            color: #43653c;
            text-decoration: underline;
        }

    .alert.alert-warning {
        background: #fef1de;
        color: #956f38;
    }
        .alert.alert-warning a {
            color: #956f38;
            text-decoration: underline;
        }

    .alert.alert-danger {
        background: #fce1e1;
        color: #a04442;
    }
        .alert.alert-danger a {
            color: #a04442;
            text-decoration: underline;
        }

    .alert.alert-login {
        background: #009991;
        color: #ffffff;
    }
        .alert.alert-login a {
            color: #ffffff;
        }

.alert-errors {
    margin: 0;
    padding: 0;
}
    .alert-errors li {
        display: block;
        padding-left: 20px;
        position: relative;
    }
    .alert-errors li:before {
        content: '\f071';
        font-family: 'FontAwesome';
        font-size: 14px;
        position: absolute;
        line-height: 22px;
        left: 0;
        top: 0;
    }

.ui-datepicker {
    display: none;
}

.alert .close {
    top: -9px;
    right: -14px;
    transition-duration: .25s;
}

/*  ==========================================================================
    LABEL
    ========================================================================== */
.label {
    font-weight: normal;
    font-family: 'latoregular';
    font-size: 85%;
}
    .label.label-primary { background: #00a8a0; }
    .label.label-success { background: #92da84; }
    .label.label-warning { background: #fab758; }
    .label.label-danger { background: #ee6b68; }
    .label.label-default { background: #e6e6e6; color: #404040; }

/*  ==========================================================================
    LOGIN
    ========================================================================== */
.login-page {
    background: #00a8a0;
    color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
    .login-page a {
        color: #ffffff;
    }
    
    .centerfy {
        position: relative;
        height: 100%;
        width: 300px;
        margin: auto;
        display: table;
    }

    .login-form-wrap {
        display: table-cell;
        vertical-align: middle;
    }
    
    .login-logo {
        text-align: center;
        padding-bottom: 12px;
    }
    .login-logo img {
        height: 22px;
    }

    .login-form-wrap .alert {
        margin-top: 12px;
        margin-bottom: 0;
    }

    .login-form-wrap .alert ul {
        margin: 0;
        padding: 0;
    }
    .login-form-wrap .alert ul li {
        display: block;
    }

.login-form {
    margin-top: 12px;
}

    .login-input {
        width: 100%;
    }
    .login-input input {
        width: 100%;
        border: 0;
        background: #00a8a0;
        height: 42px;
        padding: 8px 12px;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
    }

        .login-input ::-webkit-input-placeholder {
            color: #ffffff;
            opacity: .5;
        }

        .login-input-username input {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom: 2px;
        }
        .login-input-password input {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

    .login-submit {
        margin-top: 12px;
    }
    .login-submit .btn {
        width: 100%;
    }

/*  ==========================================================================
    ERROR PAGES
    ========================================================================== */
.page-error {
    padding: 80px 0;
}
    .page-error h1 {
        font-size: 70px;
        font-family: 'montserratbold';
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        line-height: 1.2;
        color: #00a8a0;
    }
    .page-error h2 {
        margin: 0;
        padding: 0;
        line-height: 1.4;
        text-transform: uppercase;
        font-size: 28px;
        font-family: 'montserratregular';
    }
    .page-error h4 {
        margin: 20px 0 0 0;
        padding: 0;
        line-height: 1.4;
    }


/*  ==========================================================================
    ASIDE
    ========================================================================== */
aside {
    background: #2f4050;
    color: #ffffff;
    position: fixed;
    top: 44px;
    width: 220px;
    bottom: 0;
    z-index: 1000;
    margin-left: -220px;
    transition-duration: .25s;
}
    aside.show {
        margin-left: 0;
    }

    #aside-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(47, 64, 80, .8);
        z-index: 980;
        cursor: pointer;
    }

    #aside-alt {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;
        height: 44px;
        background: #293846;
        color: #ffffff;
        z-index: 990;        
    }
        #aside-alt button {
            height: 44px;
            width: 44px;
            text-align: center;
            border: 0;
            background: none;
            padding: 0;
            float: left;
            transition-duration: .25s;
        }
        #aside-alt button:hover,
        #aside-alt button:focus,
        #aside-alt button:active {
            color: #00a8a0;
        }
        #aside-alt .user-dp-wrap {
            float: right;
            position: relative;
            height: 44px;
            width: 44px;
        }
            #aside-alt .user-dp-wrap .user-dp {
                left: 6px;
                top: 6px;
            }

        .upanel-dp {
            background-color: #f6f6f6!important;
        }

    .header-content {
        padding-left: 0;
        padding-right: 0;
    }
    .header-spacer {
        display: block;
        height: 63px;
    }

    #logo {
        float: left;
        padding: 12px 0;
        margin-left: 24px;
    }
        #logo a {
            display: block;
            padding: 10px 0;
        }
        #logo img {
            height: 16px;
            float: left;
        }

    #main-nav {
    }
        #main-nav ul {
            margin: 0;
            padding: 20px 0;
            width: 100%;
        }
        #main-nav ul li {
            display: block;
        }
        #main-nav ul li a {
            padding: 12px 16px;
            display: block;
            color: #c1c6cb;
            position: relative;
        }
            #main-nav ul li a:hover,
            #main-nav ul li a:active,
            #main-nav ul li a:focus {
                background: #293846;
                color: #ffffff;
            }
            #main-nav ul li a .fa {
                margin-right: 8px;
            }

            #main-nav ul li.active a,
            #main-nav ul li.active a:hover,
            #main-nav ul li.active a:focus,
            #main-nav ul li.active a:active {
                background: #293846;
                color: #ffffff;
                box-shadow: 2px 0 0 0 #00a8a0 inset;
            }

    #main-nav ul li a .notifyer {
        position: absolute;
        background-color: #ee6b68;
        color: #ffffff;
        display: inline-block;
        border-radius: 4px;
        font-size: 10px;
        line-height: 13px;
        min-width: 14px;
        padding: 0 2px;
        height: 14px;
        text-align: center;
        right: 16px;
        top: 16px;
    }

    #upanel {
        display: none;
    }
        #upanel > ul {
            margin: 0;
            padding: 0;
        }
        #upanel > ul > li {
            float: left;
            display: block;
        }
        #upanel > ul > li > a {
            display: block;
            width: 60px;
            height: 60px;
            text-align: center;
            position: relative;
            line-height: 60px;
        }

        .user-dp {
            height: 32px;
            width: 32px;
            border-radius: 4px;
            position: absolute;
            top: 14px;
            left: 14px;
            box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
        }

        #upanel .dropdown-menu {
            margin-top: 0;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
            border-color: #e6e6e6;
        }

        #user-opts-dropdown .dropdown-menu li a {
            padding: 6px 20px;
        }

        .user-opts-details {
            display: block;
        }
            .dropdown-menu li.user-opts-details:hover a,
            .dropdown-menu li.user-opts-details a:focus,
            .dropdown-menu li.user-opts-details a:active {
                background: none;
            }
            .user-opts-details h4 {
                white-space: nowrap;
                font-family: 'latobold';
                margin: 0;
                padding: 0;
                line-height: 1.4;
                color: #00a8a0;
            }
            .user-opts-details h5 {
                margin: 0;
                padding: 0;
                line-height: 1.4;
            }

#user-dp-modal .modal-dialog {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
    .modal-dp {
        height: 280px;
        border-radius: 4px 4px 0 0;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        cursor: pointer;
    }
        .modal-dp .close {
            position: absolute;
            margin: 0;
            padding: 0;
            top: 0;
            right: 0;
            z-index: 20;
            text-shadow: none;
            height: 28px;
            width: 28px;
            line-height: 28px;
            text-align: center;
            transition-duration: .25s;
        }

    .modal-user-info {
        text-align: center;
        padding: 20px 28px;
    }
        .modal-user-info h4 {
            margin: 0;
            padding: 0;
            line-height: 1.4;
            font-family: 'latobold';
            font-size: 24px;
        }
        .modal-user-info h5 {
            color: #ababab;
            margin: 5px 0 4px 0;
            padding: 0;
            line-height: 1.4;
            font-size: 16px;
        }
        .modal-user-info .label {
            display: inline-block;
            padding: 5px 10px;
            margin-top: 8px;
        }

    .modal-user-action {
        margin: 28px 0 4px 0;
    }

#upload-dp-form {
    height: 0;
    overflow: hidden;
}

/*  ==========================================================================
    DASHBOARD
    ========================================================================== */
#dashboard {
}
.user-dashboard {
}

    .ud-dp {
        float: left;
        width: 170px;
        height: 170px;
        border-radius: 4px;
        overflow: hidden;
    }

    .ud-salute {
        float: left;
        margin-left: 24px;
    }
        .ud-salute h1 {
            font-family: 'latobold';
            color: #404040;
            font-size: 30px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }
            .ud-salute h1 a {
                color: #404040;
            }
        .ud-salute h4 {
            color: #00a8a0;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

.shift-time-wrap {
    text-transform: uppercase;
}
    .shift-time {
        position: relative;
    }
    .shift-time small {
        display: block;
    }
    .shift-time-to:before {
        content: 'to';
        font-size: 10px;
        font-family: 'latobold';
        color: #00a8a0;
        position: absolute;
        left: -14px;
        width: 20px;
        line-height: 22px;
        margin-left: -10px;
        text-align: center;
        background: #ffffff;
        z-index: 20;
        top: 16px;
    }
    .shift-time-to:after {
        content: ' ';
        position: absolute;
        top: 0;
        height: 55px;
        left: -14px;
        width: 1px;
        text-align: center;
        background: #e6e6e6;
        z-index: 10;
    }

    .shift-time.shift-time-to,
    .shift-time.shift-time-from {
        text-align: center;
    }

.latest-payslip {
    text-transform: uppercase;
}

/*  ==========================================================================
    EMPLOYEES
    ========================================================================== */
#employee-list {
    
}

.add-employee-dp {
    width: 160px;
}

/*  ==========================================================================
    TABLES
    ========================================================================== */
.table {
    margin-bottom: 28px;
}

    .table.table-bordered,
    .table.table-bordered thead tr th {
        border-color: #e6e6e6;
    }

    .table thead tr th {
        font-family: 'latobold';
        font-size: 11px;
        text-transform: uppercase;
        color: #ababab;
        border-bottom: 0;
        padding: 14px;
        font-weight: normal;
    }
        .table thead tr th em { color: #00a8a0; }
    .table tbody tr td {
        padding: 14px 14px;
        border-color: #e6e6e6;
        transition-duration: .25s;
        line-height: 23px;
    }
        .table tbody tr td .dp-handler {
            margin: -5px 0;
        }

        .table tbody tr:hover td {
            background: #f6f6f6;
        }
        .table tbody tr:last-child td {
            border-bottom: 1px solid #e6e6e6;
        }

    .table-sneak,
    .table-dp-td {
        width: 32px;
        padding-right: 0!important;
    }

    .table-highlight {
        font-family: 'latobold';
    }
    .table-highlight a,
    .table tbody tr td a {
        color: #404040;
    }
    .table tbody tr:not(.inactive) .table-highlight a:hover,
    .table tbody tr:not(.inactive) td a:hover {
        color: #00a8a0;
    }

    .table tbody tr td a.btn:not(.btn-default),
    .table tbody tr td .label:not(.label-default) a {
        color: #ffffff;
    }

    .table td.table-label {
        font-size: 11px;
        text-transform: uppercase;
        line-height: 22px;
        color: #00a8a0;
    }

    .table-shifts tr td:not(:first-child):not(:nth-child(2)) {
        border-left: 1px solid #e6e6e6;
    }
    .table-shifts tbody tr td:hover {
        background: #def4da;
        cursor: pointer;
    }
    .table-shifts tbody tr td.table-shift-day-absent:hover,
    .table-shifts tbody tr td.table-shift-day-present:hover,
    .table-shifts tbody tr td:first-child:hover,
    .table-shifts tbody tr td:nth-child(2):hover {
        background: #f6f6f6;
    }
    .table-shifts tbody tr td.table-shifts-today {
        background: #def4da;
        border-color: #c8dcc5;
        cursor: pointer;
    }
    .table-shifts thead tr th:last-child,
    .table-shifts tbody tr td:last-child {
        width: 0!important;
        padding: 0!important;
        cursor: default;
        border-color: #ffffff;
    }
    .table tbody tr td.table-shift-day {
        padding: 4px;
        width: 11%;
    }
    .table-shifts tbody tr:hover td:last-child {
        background: none;
    }

    .table tbody tr.success td {
        background: #def4da;
        border-color: #c6e2c0;
    }
    .table tbody tr.warning td {
        background: #fef1de;
        border-color: #fbe5c5;
    }

    .table tbody tr td .fa {
        font-size: 14px;
    }

    .table-actions {
        float: right;
        margin: -3px 0;
    }
        .table-actions a {
            float: left;
            display: block;
            margin-left: 4px;
        }
        .table-actions .fa {
            width: 20px;
            line-height: 20px;
            text-align: center;
        }

    .table tbody tr.gray td { background: #fcfcfc; }
    .table tbody tr.inactive td { 
        opacity: .3;
        background: #fef1de;
    }

    .table tfoot tr td {
        padding: 14px;
        border-bottom: 1px solid #e6e6e6;
    }

    .table .table-approved {
        color: #00a8a0;
    }

    .table-timecards .fa-t {
        color: #bbbbbb;
    }
    .table-timecards .table-approved .fa-t {
        color: #00a8a0;
    }


    .shift-label {
        display: block;
        line-height: 22px;
        padding: 10px;
        margin: 0 -4px;
        transition-duration: .25s;
    }
        .table-shift-day-absent .shift-label {
            background: #ee6b68;
            color: #ffffff;
        }
        .table-shifts tbody tr td.table-shift-day-absent:hover .shift-label {
            background: #db6360;
        }

        .table-shift-day-present .shift-label {
            background: #00a8a0;
            color: #ffffff;
        }
        .table-shifts tbody tr td.table-shift-day-present:hover .shift-label {
            background: #009b93;
        }

        .table-shift-day-late .shift-label {
            background: #fab758;
            color: #ffffff;
        }
        .table-shifts tbody tr td.table-shift-day-late:hover .shift-label {
            background: #e6a951;
        }

.table-responsive {
    border: 0;
    width: auto!important;
}
.section-wcontainer > .table-responsive {
    margin: 0 -14px;
    width: auto;
}

.table-payslip tbody tr:hover td { background: none!important; cursor: pointer; }
.table-payslip tbody tr.sub-total:hover td,
.table-payslip tbody tr.semi-total:hover td { 
    background: #fcfcfc!important; 
    cursor: pointer; 
}

#calendar-wrap {
    
}

.loading-calendar {
    border-radius: 4px;
    border: 1px solid #e6e6e6;
    padding: 24px;
    background: #f6f6f6;
}
    .loading-calendar .fa {
        color: #00a8a0;
    }

.calendar-handler {
    border-radius: 4px;
    border: 1px solid #e6e6e6;
}
.calendar-meta {
    margin-top: 28px;
}
.table-calendar {
    width: 100%;
}
    .table-calendar thead tr th {
        text-align: center;
        font-family: 'latobold';
        font-weight: normal;
        font-size: 11px;
        text-transform: uppercase;
        padding: 8px 0;
        border-left: 1px solid #e6e6e6;
        background: #f6f6f6;
    }
    .table-calendar tbody tr td {
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        width: 14.28%;
    }
    .table-calendar tbody tr td .calendar-checkbox {
        text-align: center;
        padding: 0;
    }
    .table-calendar tbody tr td .calendar-checkbox:after {
        content: '';
        clear: both;
        display: table;
    }
    .table-calendar tbody tr td .calendar-checkbox label {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        float: left;
        font-weight: normal;
        margin: 0;
        cursor: pointer;
    }
    .table-calendar tbody tr td .calendar-checkbox label input {
        position: absolute;
        left: -9999px;
    }
    .table-calendar tbody tr td .calendar-checkbox label span {
        display: block;
        line-height: 22px;
        padding: 10px 0;
        transition-duration: .25s;
    }
    .table-calendar tbody tr td .calendar-checkbox label input:checked + span {
        background: #fef1de;
        color: #956f38;
    }
    .table-calendar tbody tr td .calendar-checkbox label input:checked {
        background: red;
    }
    .table-calendar tr th:first-child,
    .table-calendar tr td:first-child {
        border-left: 0;
    }

    .calendar-day {
        vertical-align: top;
    }

    .calendar-day-min {
        display: block;
        padding: 8px 12px 0;
        font-size: 10px;
        line-height: 1.4;
    }
    .calendar-shift-details {
        padding: 12px;
    }
        .calendar-shift-details .label {
            display: block;
            float: left;
            padding: 4px 6px;
            margin: 2px 4px 2px 0;
            cursor: pointer;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

    .edit-shift {
        cursor: pointer;
    }

.table-employees-avatar {
    float: right;
}
    .table-employees-avatar ul {
        display: block;
        margin: 0;
        padding: 0;
    }
    .table-employees-avatar ul li {
        float: left;
        display: block;
        margin-left: 4px;
    }
    .table-employees-avatar ul li.more-employees {
        padding-left: 5px;
    }
    .table-employees-avatar ul li.more-employees a {
        font-family: 'latoitalic';
        color: #00a8a0;
        font-size: 12px;
    }

.table-leave {
    border-top: 2px solid #00a8a0;
    margin-bottom: 0;
}

.panel-body .calendar-handler .table-responsive { margin: 0; }
.panel-body .table-responsive { margin: -14px -28px 0 -28px; }
.panel-body .table-responsive + .table-responsive { margin: 28px -28px 0 -28px; }
.panel-body .table-responsive .table { margin-bottom: 0; }

.modal-with-table .table thead tr th:first-child,
.modal-with-table .table tbody tr td:first-child,
.panel-body .table thead tr th:first-child,
.panel-body .table tbody tr td:first-child,
.panel-body .table tfoot tr td:first-child {
    padding-left: 28px;
}
.modal-with-table .table thead tr th:last-child,
.modal-with-table .table tbody tr td:last-child,
.panel-body .table thead tr th:last-child,
.panel-body .table tbody tr td:last-child,
.panel-body .table tfoot tr td:last-child  {
    padding-right: 28px;
}

.table-with-footer tbody tr:last-child td { border-bottom: 0; }

.table tfoot tr.total td {
    background-color: #00a8a0;
    color: #ffffff;
    font-size: 16px;
    border-color: #009b93;
}
.table tr.semi-total td { background-color: #fcfcfc; }
.table tr.sub-total td { background-color: #fcfcfc; color: #00a8a0; }


.table-labels {
    margin: -3px;
}
    .table-labels .label {
        float: left;
        display: block;
        font-size: 100%;
        margin: 3px;
    }

.table tr.tr-primary td:first-child { box-shadow: 4px 0 0 0 #00a8a0 inset; }
.table tr.tr-danger td:first-child { box-shadow: 4px 0 0 0 #ee6b68 inset; }


/*  ==========================================================================
    SECTIONS
    ========================================================================== */
.section {
    
}
    .section-header > .container,
    .section > .container {
        width: 100%;
        max-width: 1170px;
    }
.section-header {
    background-color: #ffffff;
    margin-bottom: 14px;
    padding: 14px 0;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    z-index: 900;
}
    .section-header.with-menu {
        padding-bottom: 0;
    }
    .section-header .section-header-content {
        margin-bottom: 0;
    }

    .section-header.inactive {
        background: #ee6b68;
        color: #ffffff;
        border-bottom: 1px solid #db6360;
    }
        .section-header.inactive .section-header-menu ul li a,
        .section-header.inactive .profile-contacts .fa { color: #ffffff; }

        .section-header.inactive .section-header-menu ul li.active a { box-shadow: 0 -2px 0 0 #db6360 inset; }
        .section-header.inactive .profile-opts-wrap .btn,
        .section-header.inactive .profile-meta .label.label-danger { background: #db6360; }

    .section-title {

    }
        .section-title h3 {
            font-size: 20px;
            margin: 0;
            padding: 0;
            line-height: 1.4;
            font-family: 'latoregular';
            color: #00a8a0;
        }
        .section-title h1 {
            font-size: 40px;
            margin: 0;
            padding: 0;
            line-height: 1.4;
            font-family: 'latoregular';
            width: 90%;
        }

    .section-header-menu {
        margin-top: 14px;
    }
        .section-header-menu ul { margin: 0 -8px; padding: 0; }
        .section-header-menu ul li {
            float: left;
            display: block;
            margin: 0 8px;
        }
        .section-header-menu ul li a {
            display: block;
            padding: 14px 0;
            color: #404040;
        }
        .section-header-menu ul li a:hover {
            color: #00a8a0;
        }
        .section-header-menu ul li.active a {
            color: #00a8a0;
            box-shadow: 0 -2px 0 0 #00a8a0 inset;
        }

    .section-head-actions {
        float: right;
        margin: -2px;
        padding: 2px 0;
    }
        .section-head-actions .btn {
            float: left;
            padding: 4px 20px;
            margin: 2px;
            font-size: 11px;
            height: 28px;
        }
        .section-head-actions .btn.btn-squared {
            padding: 4px 0;
            width: 32px;
            text-align: center;
        }
        .section-head-actions .btn .fa {
            font-size: 14px;
        }

.section-content {
    margin-bottom: 12px;
}
    .section-wcontainer {
        background-color: #ffffff;
        border-radius: 2px;
        padding: 14px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    }


/*  ==========================================================================
    FORMS
    ========================================================================== */
.input-field-wrap {
    margin-left: 0;
    margin-right: 0;
}
    .input-field-wrap div[class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
    .input-field-wrap .form-control {
        border-color: #e6e6e6;
        box-shadow: none;
        background: #f6f6f6;
        transition-duration: .25s;
        padding: 6px 10px;
        height: 36px;
        font-size: 14px;
    }
    .input-field-wrap textarea.form-control {
        height: auto;
        resize: vertical;
    }
    .input-field-wrap select.form-control {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        background: url(../images/caret.png) no-repeat #f6f6f6;
        background-position: right 8px center;
        background-size: 16px 16px;
        padding-right: 30px;
        cursor: pointer;
    }
        .input-field-wrap select.form-control:focus {         
            background: url(../images/caret.png) no-repeat #ffffff;
            background-size: 16px 16px;
            background-position: right 8px center;
        }

    .input-field-wrap + .input-field-wrap .form-control {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: 0;
    }
    .input-field-wrap:first-child:not(:last-child) .form-control,
    .input-field-wrap:not(:first-child):not(:last-child) .form-control {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0; 
    }

    .input-field-wrap .form-control:focus { background: #ffffff; }
    .input-field-wrap .form-control[disabled] { background: #f6f6f6; }

    .input-field-wrap div[class^="col-"]:first-child:not(:last-child) .form-control {
        border-bottom-right-radius: 0px;        
        border-top-right-radius: 0px;       
    }
    .input-field-wrap div[class^="col-"]:last-child:not(:first-child) .form-control {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-left: 0;
    }
    .input-field-wrap div[class^="col-"]:not(:last-child):not(:first-child) .form-control {
        border-radius: 0;
        border-left: 0;
    }

    .form-control.auto { width: auto; }

.form-primary label[class^="col-"] {
    font-weight: normal;
    font-family: 'latobold';
    padding-top: 7px;
}
.form-primary label[class^="col-"]:not(.control-label) {
    padding-top: 0;
    margin-bottom: 12px;
}

.form-primary:not(.form-horizontal) .control-label { padding-top: 0; }

.form-primary .form-group { margin-bottom: 20px; }

.form-group.form-group-separator {
    padding: 8px 0;
    margin-left: -28px;
    margin-right: -28px;
}
    .form-group.form-group-separator span {
        display: block;
        border-top: 1px solid #e5e5e5;
    }

.form-profile {
    padding: 12px 0;
}
    .form-profile .form-group {
        margin-bottom: 12px;
    }
    .form-group.form-group-last {
        margin-bottom: 0;
    }

.form-button-group {
    margin: -6px;
}
    .form-button-group .btn {
        float: left;
        margin: 6px;
    }

.control-label {
    cursor: pointer;
}

.checkbox,
.radio {
    overflow: hidden;
}
    .checkbox input[type="checkbox"],
    .radio input[type="radio"] {
        margin-left: -999px;
    }
    .checkbox label,
    .radio label {
        padding-left: 24px;
    }
    .checkbox label span,
    .radio label span {
        display: block;
        position: relative;
        color: #404040;
        transition-duration: .25s;
    }
    .checkbox span:before,
    .radio span:before {
        font-family: 'FontAwesome';
        position: absolute;
        line-height: 14px;
        height: 16px;
        width: 16px;
        top: 3px;
        left: -24px;
        color: #e5e5e5;
        transition-duration: .25s;
    }
        .checkbox span:before {
             content: '\f00c';
        }
        .radio span:before {
             content: '\f10c';
        }
    .checkbox input[type="checkbox"]:checked + span:before {
        content: '\f00c';
        color: #00a8a0;
    }
    .radio input[type="radio"]:checked + span:before {
        content: '\f111';
        color: #00a8a0;
    }

.option-group {
    
}
    .option-group .radio,
    .option-group .checkbox {
        float: left;
        margin-right: 20px;
        padding: 9px 0;
    }
    .option-group:after {
        content: '';
        display: table;
        clear: both;
    }

.form-control-file-wrapper {
    position: relative;
    overflow: hidden;
}
    .form-control-file-wrapper .form-control-file {
        position: absolute;
        margin-left: -99999px;
    }
.form-file-placeholder {
    width: 100%;
    height: 36px;
    padding: 7px 24px 7px 48px;
    line-height: 22px;
    background-color: #00a8a0;
    border-radius: 4px;
    position: relative;
    color: #ffffff;
    cursor: pointer;
}
    .form-file-placeholder i.fa {
        height: 36px;
        width: 36px;
        text-align: center;
        line-height: 36px;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background-color: #009b93;
        border-radius: 4px 0 0 4px;
    }
    .form-file-placeholder span {
        overflow: hidden;
        text-overflow: ellipsis;
    }

.ui-datepicker {
    background: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    margin-top: -1px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

    .ui-datepicker-title {
        display: block;
        text-align: center;
        margin-bottom: 11px;
        font-family: 'latobold';
        text-transform: uppercase;
        line-height: 22px;
    }
        .ui-datepicker-title select {
            border: 0;
            text-transform: uppercase;
        }

    .ui-datepicker-header a {
        cursor: pointer;
        width: 22px;
        height: 22px;
        overflow: hidden;
        text-align: center;
        position: relative;
        text-indent: -9999px;
    }
        .ui-datepicker-header a:after {
            font-family: 'FontAwesome';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            text-indent: 0;
            font-size: 14px;
            text-align: center;
        }
    .ui-datepicker-header a.ui-datepicker-next {        
        float: right;
    }
        .ui-datepicker-header a.ui-datepicker-next:after {
            content: '\f105';
        }
    .ui-datepicker-header a.ui-datepicker-prev {        
        float: left;
    }
        .ui-datepicker-header a.ui-datepicker-prev:after {
            content: '\f104';
        }

    .ui-datepicker-calendar {

    }
    .ui-datepicker-calendar thead tr th {
        text-align: center;
        font-weight: normal;
        font-family: 'montserratregular';
        font-size: 11px;
        text-transform: uppercase;
    }
    .ui-datepicker-calendar tbody tr td {
        width: 32px;
        text-align: center;
    }
    .ui-datepicker-calendar thead tr th.ui-datepicker-week-end,
    .ui-datepicker-calendar tbody tr td.ui-datepicker-week-end a {
        color: #00a8a0;
    }
    .ui-datepicker-calendar tbody tr td a {
        display: block;
        padding: 4px 0;
        border-radius: 4px;
        color: #404040;
    }
    .ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a,
    .ui-datepicker-calendar tbody tr td a:hover {
        background: #00a8a0!important;
        color: #ffffff!important;
    }

    .ui-datepicker-today a {
        background: #f6f6f6;
    }

    .ui-datepicker-calendar tbody tr td.ui-datepicker-unselectable,
    .ui-datepicker-calendar tbody tr td.ui-state-disabled {
        opacity: .2;
    }


/*  ==========================================================================
    (EMPLOYEE) PROFILE
    ========================================================================== */
.profile {
    
}   
    .profile-header {
        display: table;
        width: 100%;
        margin-bottom: 14px;
    }
    .profile-dp-td {
        display: table-cell;
        vertical-align: top;
        width: 64px;
    }
        .profile-dp-wrap {
            width: 64px;
            border-radius: 4px;
            overflow: hidden;
            position: relative;
            z-index: 50;
        }
            .profile-dp {
                padding-bottom: 100%;
                background-color: #ffffff!important;
                box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
                border-radius: 4px;
            }

    .profile-meta {
        display: table-cell;
        vertical-align: top;
        position: relative;
        z-index: 50;
        padding-left: 14px;        
    }
        .profile-meta h1 {
            font-family: 'latobold';
            font-size: 24px;
            line-height: 1.4;
            margin: 0;
            padding: 0;
            width: 100%;
        }
            .profile-meta h1 a {
                color: #404040;
            }
        .profile-meta h2 {
            font-family: 'latoitalic';
            font-size: 16px;
            line-height: 1.3;
            margin: 4px 0 12px 0;
            padding: 0;
        }

        .profile-meta h4 {
            line-height: 1.4;
            margin: 24px 0;
            padding: 0;
            position: relative;
        }

        .section-title .employee-id {
            float: right;
            display: inline-block;
        }

        .dp-wrapper {
            float: left;
            width: 80px;
            margin-right: 28px;
            border-radius: 4px;
            overflow: hidden;
        }

    .profile-contacts {
        margin-top: 14px;
    }
        .profile-contacts h5 {
            position: relative;
            padding-left: 24px;
            line-height: 22px;
            margin: 0;
        }
        .profile-contacts h5 .fa {
            color: #00a8a0;
            position: absolute;
            left: 0;
            line-height: 22px;
        }

.signature-holder {
    height: 100px;
    width: 100%;
    cursor: pointer;
}
    .signature-holder.no-signature {
        text-align: center;
        line-height: 100px;
        font-size: 16px;
        color: #ababab;
        border-radius: 4px;
        border: 2px dashed #e5e5e5;
    }
    

.upload-signature-form {
    height: 0;
    overflow: hidden;
    position: relative;
}
    .upload-signature-form form {
        position: absolute;
        left: -99999px;
    }

.profile-options {
    display: table-cell;
    vertical-align: top;
    position: relative;
    z-index: 50;
    padding-left: 14px;
    width: 50px;
    text-align: right;
}
    .profile-opts-wrap {
        position: relative;
    }
    .profile-opts-wrap .btn.btn-sm,
    .profile-opts-wrap .btn.btn-sm .fa {
        font-size: 14px;
    }

/*  ==========================================================================
    LISTING && DETAILS
    ========================================================================== */
.listing-entry {
    padding: 24px 0;
    border-bottom: 1px solid #e6e6e6;
}
    .listing-no-entry {
        border-bottom: 1px solid #e6e6e6;
        text-align: center;
        padding: 24px 0;       
    }
        .listing-no-entry h4 {
            display: block;
            margin: 0;
            padding: 0;
        }

    .listing-header {
    }

        .listing-header .label {
            display: inline-block;
            padding: 5px 10px;
            margin: 7px 0;
        }
        .listing-header h3 {
            margin: 0;
            padding: 0;
            font-family: 'latobold';
            font-size: 24px;
            line-height: 1.4;
        }
        .listing-header h3 a {
            display: block;
        }

    .details-page-header {
        
    }
        .details-page-header h1 {
            margin: 0;
            padding: 0;
            line-height: 1.3;
            font-size: 48px;
            font-family: 'latobold';
            width: 80%;
        }

        .details-page-header-holiday .holiday-date {
            float: right;
            margin-right: 0;
        }

    .details-page-meta,
    .listing-meta {
        margin-top: 12px;
        font-size: 12px;
        line-height: 22px;
        font-family: 'latoitalic';
        color: #
    }
        .details-page-meta ul,
        .listing-meta ul {
            margin: 0;
            padding: 0;
        }
        .details-page-meta ul li,
        .listing-meta ul li {
            display: block;
            float: left;
            margin-right: 24px;
        }
        .details-page-meta ul li .fa,
        .listing-meta ul li .fa {
            font-size: 14px;
        }
        .details-page-meta ul li a,
        .listing-meta ul li a {
            color: #404040;
        }
        .details-page-meta ul li a:hover,
        .listing-meta ul li a:hover {
            color: #00a8a0;
        }

    .listing-content {
        margin-top: 12px;
    }
    .details-page-content {
        margin-top: 40px;
        font-size: 16px;
        line-height: 1.7;
    }

    .details-page-signatories {
        margin-top: 40px;
    }
        .details-page-signatories span {
            display: block;
        }
        .signatory-signature {
            height: 80px;
            display: block;
            position: relative;
        }
            #sign-memo,
            .sign-pad {
                position: absolute;
                top: 8px;
                bottom: 8px;
                left: 0;
                right: 0;
                line-height: 64px;
                text-align: center;
                border-radius: 4px;
                border: 1px dashed #e6e6e6;
            }
            #sign-memo span,
            .sign-pad span {
                opacity: .3;
                transition-duration: .25s;
            }
            #sign-memo:hover span,
            .sign-pad:hover span {
                opacity: 1;
            }

            .sign-pad.sign-pad-loa.sign-pad-approve {
                right: 66px;
            }
            .sign-pad.sign-pad-loa.sign-pad-disapprove {
                left: auto;
                width: 64px;
            }
            .sign-pad.sign-pad-loa.sign-pad-disapprove span {
                color: #ee6b68;
            }

        .signatory-name {
            font-size: 20px;
            line-height: 1.4;
            color: #00a8a0;
            font-family: 'latobold';
        }


.for-sig-warning {
    display: block;
    padding: 0 0 12px;
}

/*  ==========================================================================
    POST FEEDBACK
    ========================================================================== */
.post-feedback {
    padding: 20px 28px 0 28px;
    margin: -28px -28px -10px -28px;
}
    .with_discussion .post-feedback {
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 28px;
        margin: -28px -28px 0 -28px;       
    }
    .post-feedback ul {
        margin: -2px;
        padding: 0;
    }
    .post-feedback ul li {
        display: block;
        float: left;
        margin: 2px;
    }
    .post-feedback-other {
        line-height: 22px;
        padding: 5px 0;
        padding-left: 6px;
    }

/*  ==========================================================================
    POST DISCUSSION
    ========================================================================== */
.post-discussion {
    
}
    #memo-discussions-thread {
        margin-top: 28px;
    }
    .post-discussion h4 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        font-family: 'latobold';
    }
    .post-discussion h4 .fa {
        color: #00a8a0;
    }

.post-discussion-thread {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 28px;
}
    .post-discussion-thread-entry {
        display: block;
        padding-right: 37.5%;
        margin-bottom: 12px;
    }
    .post-discussion-thread-entry-yours {
        padding-right: 0;
        padding-left: 37.5%;
    }

    .pd-container {
        display: table;
    }
        .post-discussion-thread-entry-yours .pd-container {
            float: right;
        }

    .pd-dp {
        display: table-cell;
        vertical-align: bottom;
        width: 32px;
    }
    .pd-content-wrap {
        display: table-cell;
        vertical-align: top;
    }
        .pd-content {
            background: #e5e5e5;
            line-height: 20px;
            padding: 6px 12px;
            float: left;
            margin-left: 4px;
            border-radius: 4px;
        }
        .post-discussion-thread-entry-yours .pd-content {
            background: #00a8a0;
            color: #ffffff;
        }

        .pd-content p:last-child {
            margin-bottom: 0;
        }

    .pd-meta {
        padding-left: 36px;
        font-size: 12px;
        padding-bottom: 12px;
    }

.post-discussion-write-comment {
    margin-top: 16px;
}

    .pd-wc-container {
        display: table;
        width: 100%;
    }
    .pd-wc-dp {
        display: table-cell;
        width: 36px;
    }
    .pd-wc-textbox {
        display: table-cell;
    }

.write-comment-post-button {
    margin-top: 7px;
}


/*  ==========================================================================
    HOLIDAYS
    ========================================================================== */
.holiday-entry {
    display: table;
    margin: -20px -28px;
}

    .no-holiday {
        border-radius: 4px;
        border: 2px dashed #e5e5e5;
        width: 100%;
        text-align: center;
        height: 80px;
        margin-bottom: 28px;
        position: relative;
        font-size: 16px;
    }
        .no-holiday a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;
            line-height: 76px;
            color: #ababab;
        }

    .holiday-date {
        display: table-cell;
        vertical-align: top;
        background: #fcfcfc;
        border-right: 1px solid #e5e5e5;
        padding: 20px 8px;
        text-align: center;
        border-radius: 4px 0 0 4px;
    }
        .holiday-date em {
            font-style: normal;
            font-family: 'lato';
            font-size: 12px;
            text-transform: uppercase;
            display: block;
            line-height: 1.4;
        }
        .holiday-date span {
            display: block;
            font-size: 22px;
            line-height: 1.2;
            width: 40px;
            font-family: 'latolight';
            letter-spacing: -.05em;
        }

    .holiday-details {
        display: table-cell;
        padding: 14px;
    }
        .holiday-details h3 {
            margin: 0 0 7px 0;
            padding: 0;
            font-size: 18px;
            line-height: 1.3;
        }
        .holiday-details h3 a { color: #404040; }

        .holiday-details article p:last-child {
            margin-bottom: 0;
        }

    .holidays-list .panel-body {
        padding: 20px 28px;
    }

.listing-footer-actions { margin-bottom: 28px; }
.listing-header-actions { margin-bottom: 28px; }

.holiday-discussions.post-discussion {
    margin-top: 0;
    padding: 12px 0;
}

/*  ==========================================================================
    BUNDY CLOCK
    ========================================================================== */
#bundy-clock {
    margin-top: 40px;
}
    .btn-bundy-clock {
        width: 100%;
        text-align: left;
        padding: 18px 28px;
        position: relative;
        height: auto;
        overflow: hidden;
    }

    .btn-bundy-clock.btn-primary[disabled],
    .btn-bundy-clock.btn-success[disabled] {
        background-color: #e5e5e5;
        color: #404040;
    }

    .latest-payslip small,
    .shift-time small,
    .btn-bundy-clock small {
        position: relative;
        z-index: 5;
        display: block;
        text-transform: uppercase;
    }
    .latest-payslip span,
    .shift-time span,
    .btn-bundy-clock span {
        position: relative;
        z-index: 5;
        display: block;
        font-size: 24px;
        line-height: 1.4;
        font-family: 'latolight';
    }

    .btn-bundy-clock .fa {
        position: absolute;
        right: 0;
        top: 0;
        width: 89px;
        height: 89px;
        text-align: center;
        line-height: 89px;
        font-size: 28px;
        opacity: .5;
        filter: alpha(opacity=50);
    }

    #takebreak span {
        text-transform: none;
    }

    .break-progress {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .05);
        z-index: 1;
        transition-duration: 1s;
    }


/*  ==========================================================================
    ACCOUNT SETTINGS
    ========================================================================== */
.field-verifier {
    position: absolute;
    right: 9px;
    top: 7px;
    height: 22px;
    width: 22px;
    text-align: center;
    font-size: 14px;
}
.verify-field {
    padding-right: 40px!important;
}

.upload-profile {
    cursor: pointer;
}

    .upload-dp-wrap {
        position: relative;
        height: 0;
        overflow: hidden;
    }
    .upload-dp-wrap .form-control-file {
        position: absolute;
        height: 0;
    }

    .upload-dp-btn {
        position: absolute;
        right: 8px;
        top: -40px;
    }

    .btn-dp {
        float: right;
        margin-left: 8px;
        border-radius: 50%;
        border: 0;
        height: 32px;
        width: 32px;
        text-align: center;
        color: #ffffff;
        opacity: .8;
        transition-duration: .25s;
    }
        .btn-dp:hover {
            opacity: 1;
        }



/*  ==========================================================================
    MEMO
    ========================================================================== */
.memo-entry {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
    transition-duration: .25s;
    background: #ffffff;
    padding: 24px 28px;
    height: 450px;
    overflow: hidden;
    margin-bottom: 28px;
    border-radius: 4px;
    position: relative;
}
    .memo-entry:hover { box-shadow: 0 18px 10px -12px rgba(0, 0, 0, .15); }

    .memo-entry .listing-meta ul li {
        display: block;
        float: none;
    }

    .memo-entry-overlay {
        background: #ffffff; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); /* For Firefox 3.6 to 15 */
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .9), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1)); /* Standard syntax */
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 120px;
        padding: 64px 28px 0 28px;
    }

#conform-memo {
    height: 32px;
    padding: 6px 20px;
}

.pd-wc-textbox textarea.form-control {
    background-color: #ffffff;
}

.no-memo {
    text-align: center;
    border: 2px dashed #e5e5e5;
    border-radius: 4px;
}

    .no-memo span,
    .no-memo a {
        display: block;
        padding: 40px 0;
        font-size: 24px;
        line-height: 1.4;
        color: #ababab;
        font-family: 'latoitalic';
    }

/*  ==========================================================================
    BOOTBOX
    ========================================================================== */
.bootbox {
    
}

    .bootbox.modal-warning .modal-header {
        background: #ee6b68;
        color: #ffffff;
        border-bottom: 0;
        padding-bottom: 7px;
        border-radius: 4px 4px 0 0;
    }
    .bootbox.modal-warning .modal-body {
        background: #ee6b68;
        color: #ffffff;
        padding-top: 7px;
    }
    .bootbox.modal-warning .modal-footer {
        border-color: #db6360;
        text-align: center;
    }

    .bootbox .modal-footer {

    }
        .bootbox .modal-footer .btn + .btn {
            margin: 0 0 0 5px;
        }


/*  ==========================================================================
    CANDIDATE INTERVIEW
    ========================================================================== */
.the-rating,
.rating {
    margin-bottom: 12px;
}
    .the-rating ul,
    .rating ul {
        margin: 0;
        padding: 0;
    }
    .the-rating ul li,
    .rating ul li {
        display: block;
        float: left;
        padding: 0 5px;
        cursor: pointer;
    }
    .the-rating ul li:first-child,
    .rating ul li:first-child { padding-left: 0; }
    .the-rating ul li:last-child,
    .rating ul li:last-child { padding-right: 0; }

    .the-rating ul li .fa,
    .rating ul li .fa {
        display: block;
        line-height: 24px;
        color: #b4b4b4;
        transition-duration: .25s;
    }
    .the-rating ul li .fa.fa-star,
    .rating ul li .fa.fa-star {
        color: #00a8a0;
    }


.assessment-guides {
    margin: 0;
    padding: 0;
}
    .assessment-guides > li {
        display: block;
    }

    .category-entry {
        margin: 0 -28px;
        padding: 28px;
        border-top: 1px solid #e5e5e5;
    }
    .category-entry:first-child {
        padding-top: 0;
        border-top: 0;
    }
    .category-entry:last-child {
        padding-bottom: 0;
    }

    .category-title {
        
    }
    .category-title h4 {
        margin: 0;
        padding: 0;
        font-size: 12px;
        text-transform: uppercase;
        font-family: 'latobold';
        color: #00a8a0;
        line-height: 1.4;
    }

    .the-question {
        margin: 20px 0 8px 0;
        padding: 0;
        font-size: 16px;
        line-height: 24px;
        font-weight: normal;
        cursor: pointer;
    }

.post-assessment-guides li:first-child label {
    margin-top: 0;
}

.the-comment {
    font-family: 'latoitalic';
    color: #ababab;
}

.assessment-result {
    padding: 28px;
    border-top: 1px solid #e5e5e5;
    margin: 0 -28px;
}
    .assessment-result:first-child {
        padding-top: 0;
        border-top: 0;
    }
    .assessment-result:last-child {
        padding-bottom: 0;
    }

    .assessment-result .the-question {
        margin-top: 0;
    }

.applicant-entry {
    position: relative;
}

.applicant-status-indicator {
    position: absolute;
    top: 14px;
    right: 14px;
}
    .applicant-status-indicator span {
        height: 10px;
        width: 10px;
        display: block;
        border-radius: 50%;
        background-color: #e5e5e5;
    }
    .applicant-status-indicator.interviewed span {
        background: #fab758;
        animation: pulse 1s infinite;
    }
    .applicant-status-indicator.hired span {
        background: #00a8a0;
        animation: pulse2 1s infinite;    
    }

    @-webkit-keyframes pulse {
        0% { -webkit-box-shadow: 0 0 0 0 rgba(250, 183, 88, 0.5); }
        70% { -webkit-box-shadow: 0 0 0 10px rgba(250, 183, 88, 0); }
        100% { -webkit-box-shadow: 0 0 0 0 rgba(250, 183, 88, 0); }
    }
    @keyframes pulse {
        0% { -moz-box-shadow: 0 0 0 0 rgba(250, 183, 88, 0.5); box-shadow: 0 0 0 0 rgba(250, 183, 88, 0.5); }
        70% { -moz-box-shadow: 0 0 0 10px rgba(250, 183, 88, 0); box-shadow: 0 0 0 10px rgba(250, 183, 88, 0); }
        100% { -moz-box-shadow: 0 0 0 0 rgba(250, 183, 88, 0); box-shadow: 0 0 0 0 rgba(250, 183, 88, 0); }
    }
    @-webkit-keyframes pulse2 {
        0% { -webkit-box-shadow: 0 0 0 0 rgba(0, 168, 160, 0.5); }
        70% { -webkit-box-shadow: 0 0 0 10px rgba(0, 168, 160, 0); }
        100% { -webkit-box-shadow: 0 0 0 0 rgba(0, 168, 160, 0); }
    }
    @keyframes pulse2 {
        0% { -moz-box-shadow: 0 0 0 0 rgba(0, 168, 160, 0.5); box-shadow: 0 0 0 0 rgba(0, 168, 160, 0.5); }
        70% { -moz-box-shadow: 0 0 0 10px rgba(0, 168, 160, 0); box-shadow: 0 0 0 10px rgba(0, 168, 160, 0); }
        100% { -moz-box-shadow: 0 0 0 0 rgba(0, 168, 160, 0); box-shadow: 0 0 0 0 rgba(0, 168, 160, 0); }
    }


/*  ==========================================================================
    NESTABLE
    ========================================================================== */
#nestable-container {
    position: relative;
}
.nestable-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
}
    .nestable-overlay .fa {
        height: 40px;
        width: 40px;
        font-size: 24px;
        color: #00a8a0;
        text-align: center;
        line-height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
    }

.dd { 
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dd > .dd-list > li > .dd-handle {
    font-family: 'latobold';
    padding-right: 44px;
}

.dd-handle .question-options {
    position: absolute;
    right: 0;
    top: 0;
    /*margin: -10px -44px -10px 0;*/
}
    .question-options button {
        width: 32px;
        text-align: center;
        border: 0;
        background: none;
        height: 42px;
        font-size: 14px;
        padding: 0;
    }
    .question-options button .fa {
        font-size: 14px;
    }
    .question-options .dropdown-menu {
        margin-top: 0;
        border: 0;
        border-radius: 2px;
        background: #00a8a0;
    }
    .question-options .dropdown-menu span {
        display: block;
    }
    .question-options .dropdown-menu span a {
        display: block;
        padding: 4px 12px;
        font-weight: normal;
        font-family: 'latoregular';
        color: #ffffff;
    }
    .question-options .dropdown-menu span a:hover,
    .question-options .dropdown-menu span a:active,
    .question-options .dropdown-menu span a:focus {
        background: #009b93;
    }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0;}
.dd-handle {
    display: block;
    margin: 5px 0;
    padding: 10px 12px;
    padding-right: 44px;
    text-decoration: none;
    border: 1px solid #e6e6e6;
    background: #ffffff;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.dd-item {
    position: relative;
}
.dd-item > button {
    float: left;
    border: 0;
    padding: 0;
    height: 44px;
    width: 38px;
    text-align: center;
    line-height: 44px;
    top: 0;
    left: 0;
    overflow: hidden;
    background: none;
    position: relative;
    z-index: 2;
}
.dd-item > button:before { 
    content: '\f067';
    font-family: 'FontAwesome';
    text-indent: 0!important;
    display: block;
    font-size: 14px;
    color: #00a8a0;
}
.dd-item > button[data-action="collapse"]:before {
    content: '\f068';
}
.dd-item > button + .dd-handle {
    padding-left: 30px;
}
.dd-placeholder,
.dd-empty { 
    margin: 5px 0; 
    padding: 0; 
    min-height: 30px; 
    background: #cceeec; 
    border: 1px dashed #00a8a0;
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    border-radius: 2px;
}
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff),
                      -webkit-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-image:    -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff),
                         -moz-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-image:         linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff),
                              linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

.dd.assessment-guide,
.dd.post-assessment-guide {
    margin: -5px 0;
}


/*  ==========================================================================
    HUMAN LISTING
    ========================================================================== */
.human-entry {
    background: #ffffff;
    padding: 20px 28px;
    margin-bottom: 28px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
    cursor: pointer;
    transition-duration: .25s;
}
    .human-entry:hover { box-shadow: 0 18px 10px -12px rgba(0, 0, 0, .15); }
    .human-entry.inactive { opacity: .5; }

    .human-entry.human-entry-add {
        box-shadow: none;
        background: none;
        border: 2px dashed #e5e5e5;
        height: 88px;
        text-align: center;
        font-size: 16px;  
        position: relative;      
    }
    .human-entry.human-entry-add a {
        color: #ababab;
        position: absolute;
        line-height: 88px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .applicants-list .human-entry.human-entry-add { height: 103px; }
    .applicants-list .human-entry.human-entry-add a { line-height: 103px; }


    .human-photo {
        height: 88px;
        width: 88px;
        margin: -20px 28px -20px -28px;
        float: left;
        border-radius: 4px 0 0 4px;
        overflow: hidden;
    }
        .human-photo-frame {
            width: 100%;
            padding-bottom: 100%;
        }

    .human-info {
        position: relative;
        z-index: 50;
    }
        .human-info h4 {
            margin: 0;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.4;
            font-family: 'latobold';
            font-size: 17px;
        }
        .human-info .human-meta {
            display: block;
            margin: 4px 0 0 0;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.4;
            color: #ababab;
            font-size: 13px;
        }

.flag-loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 2px;
    border-radius: 4px;
    overflow: hidden;
}
    .flag-loader .flag-loading {
        height: 2px;
        background: #00a8a0;
        border-radius: 0 0 4px 4px;
    }


/*  ==========================================================================
    GROUP LISTING
    ========================================================================== */
.group-entry {
    background: #ffffff;
    padding: 20px 28px;
    margin-bottom: 28px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
    cursor: pointer;
    transition-duration: .25s;
}
    .group-entry:hover {
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .15);
    }

    .group-banner {
        background-color: #e5e5e5;
        height: 160px;
        margin: -20px -28px 20px -28px;
        border-radius: 4px 4px 0 0;
        overflow: hidden;
    }

    .group-info {
        
    }
        .group-info h4 {
            margin: 0;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 22px;
            font-family: 'latobold';
            font-size: 17px;
        }
            .group-info h4 a {
                color: #404040;
            }
            .group-info h4 i {
                color: #00a8a0;
                font-size: 14px;
                line-height: 22px;
            }
        .group-meta {
            display: block;
            margin-top: 4px;
            padding: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 1.4;
            color: #ababab;
            font-size: 13px;
        }
            .group-meta .row > div {
                padding-top: 4px;
                padding-bottom: 4px;
            }
            .group-meta .row > div:last-child {
                border-left: 1px solid #e5e5e5;
            }
            .group-meta span {
                display: block;
                font-size: 18px;
                font-family: 'latolight';
                line-height: 1.4;
            }

    .group-members {
        padding: 20px 28px;
        border-top: 1px solid #e5e5e5;
        margin: 20px -28px -20px -28px;
    }
        .group-members ul {
            margin: 0 -3px;
            padding: 0;
        }
        .group-members ul li {
            float: left;
            display: block;
            margin: 0 3px;
        }


/*  ==========================================================================
    PAGE ACTIONS
    ========================================================================== */
.page-actions {
    position: fixed;
    bottom: 7px;
    right: 7px;
    z-index: 100;
}
    .page-actions ul {
        margin: 0;
        padding: 0;
    }
    .page-actions > ul > li {
        float: left;
        display: block;
        margin: 0 4px;
        position: relative;
    }
    .page-actions > ul > li > a {
        display: block;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .3);
    }
        .page-actions > ul > li > a:hover,
        .page-actions > ul > li > a:focus,
        .page-actions > ul > li > a:active {
            box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .3);
        }
        .page-actions ul li a.pa-default {
            background-color: #ffffff;
            color: #ababab;
        }
        .page-actions ul li a.pa-default:hover { background-color: #f6f6f6; }

        .page-actions ul li a.pa-primary {
            background-color: #00a8a0;
            color: #ffffff;
        }
        .page-actions ul li a.pa-primary:hover { background-color: #009b93; }

    .page-actions ul.pa-submenu.dropdown-menu {
        background: none;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        min-width: auto;
        margin-right: 8px;
        margin-bottom: 8px;
    }
        .page-actions ul.pa-submenu li {
            display: block;
            text-align: right;
            padding: 4px 0;
            position: relative;
            display: block;
            min-width: auto;
        }
        .page-actions ul.pa-submenu li a {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            text-align: center;
            line-height: 24px;
            display: block;
            box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, .3);
            padding: 0;
            font-size: 10px;
        }
        .page-actions ul.pa-submenu li a span {
            position: absolute;
            background-color: #293846;
            right: 32px;
            line-height: 20px;
            top: 6px;
            color: #ffffff;
            white-space: nowrap;
            display: block;
            padding: 0 8px;
            border-radius: 2px;
            font-size: 10px;
            text-transform: uppercase;
        }
            .page-actions ul.pa-submenu li a span:after {
                left: 100%;
                top: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(41, 56, 70, 0);
                border-left-color: #293846;
                border-width: 4px;
                margin-top: -4px;
            }


/*  ==========================================================================
    PANELS
    ========================================================================== */
.panel {
    border-radius: 4px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2);
    border: 0;
    margin-bottom: 14px;
}
    .panel-heading {
        border-bottom: 1px solid #e5e5e5;
        padding: 16px 28px;
        position: relative;
    }
        .panel-heading h4 {
            margin: 0;
            padding: 0 20px 0 0;
            line-height: 20px;
            font-family: 'latobold';
            font-size: 14px;
            text-transform: uppercase;
        }
        .panel-heading-edit {
            height: 20px;
            width: 16px;
            position: absolute;
            top: 16px;
            right: 20px;
            text-align: center;
        }

        .panel-heading-profile {
            padding: 12px 0;
        }
            .panel-heading-profile h1 {
                margin: 0;
                padding: 0;
                line-height: 1.4;
                font-size: 24px;
                font-family: 'latobold';
            }
                .panel-heading-profile h1 a { color: #404040; }
            .panel-heading-profile h3 {
                margin: 0;
                padding: 0;
                line-height: 1.4;
                font-size: 16px;
                color: #00a8a0;
            }

    .panel-body {
        padding: 28px;
    }
        .panel-body.panel-negative {
            background-color: #f5f5f5;
        }

    .panel-filter {
        padding: 28px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #e5e5e5;
    }
        .panel-filter .form-control { background-color: #ffffff!important; }

    .panel-footer {
        padding: 16px 28px;
    }
    .panel-footer.post-footer {
        padding: 28px;
    }

.panel-stat {
    background-color: #00a8a0;
    color: #ffffff;
    padding: 28px;
    border-bottom: 1px solid #009b93;
}

/*  ==========================================================================
    PANEL BODY LIST
    ========================================================================== */
.panel-body-list {
    margin: -14px 0;
    padding: 0;
}
    .panel-body-list li {
        display: block;
        border-bottom: 1px solid #e5e5e5;
        padding: 14px 0;
    }
        .panel-body-list li small {
            display: block;
            width: 100%;
            font-style: normal;
            font-size: 11px;
            text-transform: uppercase;
            color: #ababab;
            line-height: 18px;
        }
        .panel-body-list li span {
            display: block;
        }
    .panel-body-list li:last-child {
        border-bottom: 0;
    }

/*  ==========================================================================
    USER PERMISSIONS // ACCOUNT SETTINGS
    ========================================================================== */
.category-wrap {
    padding: 28px 0;
    border-bottom: 1px solid #e5e5e5;
}
    .category-wrap:first-child {
        padding-top: 0;
    }
    .category-wrap:last-child {
        padding-bottom: 0;
        border-bottom: 0;
    }

    .category-wrap h4 {
        margin: 0 0 6px;
        padding: 0;
        font-family: 'latobold';
        text-transform: uppercase;
        font-size: 14px;
    }

.permissions-list {
    
}
    .permissions-list.permissions-view-only .col-xs-12:first-child .checkbox {
        margin-top: 0;
    }
    .permissions-list .checkbox {
        margin-bottom: 0;
    }


/*  ==========================================================================
    STATS
    ========================================================================== */
.stats {
    text-align: center;
    margin-top: -14px;
    margin-bottom: -14px;
}

    .stat-entry {
        padding: 14px 0;
    }
    .stat-entry h5 {
        display: block;
        margin: 0;
        padding: 0;
        font-size: 30px;
        line-height: 1.2;
    }
    .stat-entry span {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1.2;
        font-style: normal;
    }

/*  ==========================================================================
    DOCUMENTS
    ========================================================================== */
.documents-wrapper {
    margin-top: -14px;
    margin-bottom: -14px;
}
.document-entry {
    background-color: #ffffff;
    height: 100px;
    margin: 14px 0;    
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition-duration: .25s;
    padding: 14px;
    cursor: pointer;
}
    .document-entry:hover {
        box-shadow: 0 18px 10px -12px rgba(0, 0, 0, .15), 0 0 2px 0 rgba(0, 0, 0, .10);
    }

    .document-entry i.fa-pakgenern {
        position: absolute;
        font-size: 60px;
        -ms-transform: rotate(-7deg); /* IE 9 */
        -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
        transform: rotate(-7deg);
        right: -20px;
        bottom: -16px;
        opacity: .1;
        transition-duration: .25s;
    }
    .document-entry:hover i.fa-pakgenern {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        right: -10px;
        bottom: 3px;
    }

    .remove-document {
        background-color: #00a8a0;
        color: #ffffff;
        position: absolute;
        top: 4px;
        right: 4px;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 18px;
        z-index: 10;
        border-radius: 50%;
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
        transition-duration: .25s;
    }
        .remove-document:hover {
            color: #ffffff;
        }

    .documents-wrapper > div[class^="col-"]:hover .remove-document {
        visibility: visible;
        opacity: 1;
    }

    .documents-wrapper .no-documents {
        box-shadow: none;
        background-color: transparent;
        border: 2px dashed #e5e5e5;
        font-size: 16px;
        text-align: center;
        line-height: 100px;
        color: #ababab;
        cursor: pointer;
    }

/*  ==========================================================================
    BREAK NOTIFICATION
    ========================================================================== */
.break-notification {
    background-color: #ee6b68;
    color: #ffffff;
    padding: 29px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}

/*  ==========================================================================
    INACTIVE ACCOUNT
    ========================================================================== */
.inactive-account {
    padding: 80px;
    text-align: center;
    font-family: 'latoitalic';
}
    .inactive-account h1 {
        font-size: 60px;
        margin: 0 0 7px 0;
        padding: 0;
        line-height: 1.4;
    }
    .inactive-account p {
        margin: 0 0 28px 0;
        line-height: 1.4;
        font-size: 16px;
    }

/*  ==========================================================================
    SNEAK
    ========================================================================== */
.sneak-wrap {
    position: fixed;
    width: 800px;
    right: -800px;
    top: 0;
    bottom: 0;
    overflow-x: auto;
    background: #ffffff;
    z-index: 999999;
    transition-duration: .2s;
}
    .sneak-wrap.in {
        right: 0;
    }

    .sneak-preloader {
        padding: 80px 0;
        text-align: center;
        color: #00a8a0;
    }

    .sneak-content {
        padding: 40px;
        overflow: hidden;
    }

.sneak-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(47, 64, 80, .9);
    cursor: pointer;
    z-index: 99999;
    transition-duration: .2s;
    opacity: 0;
    visibility: hidden;
}
    .sneak-backdrop.in {
        visibility: visible;
        opacity: 1;
    }


.sneak-meta {
    background: #00a8a0;
    color: #ffffff;
    padding: 40px;
    margin: -40px -40px 0 -40px;
}
    .sneak-meta h1 {
        margin: 0 0 7px 0;
        padding: 0;
        line-height: 1.3;
    }
    .sneak-meta h4 {
        margin: 0;
        padding: 0;
        line-height: 1.4;
    }

    .sneak-meta h5 {
        margin: 7px 0 0 0;
        padding: 0;
        float: right;
    }
        .sneak-meta .label.label-primary {
            background: #009b93
        }
    .sneak-meta a {
        color: #ffffff;
    }

.sneak-tabbing {

}

    .sneak-tabbing ul.nav {
        background: #00a8a0;
        margin: 0 -40px 40px -40px;
        padding: 0 40px;
        border: 0;
    }
        .sneak-tabbing ul.nav li {
            margin: 0;
        }
        .sneak-tabbing ul.nav li a:focus,
        .sneak-tabbing ul.nav li a {
            padding: 10px 20px;
            color: #ffffff;
            border: 0;
            line-height: 1.4;
            background: none;
        }
        .sneak-tabbing ul.nav li:active a,
        .sneak-tabbing ul.nav li:focus a,
        .sneak-tabbing ul.nav li:hover a {
            border: 0;
            background: none;
            margin-bottom: 0;
        }

        .sneak-tabbing ul.nav li.active a {
            background: #ffffff;
            color: #00a8a0;
            border: 0;
        }


.inactive .sneak-meta { background: #ee6b68; }
.inactive .sneak-tabbing ul.nav { background: #ee6b68; }
.inactive .sneak-tabbing ul.nav li.active a { color: #ee6b68; }

/*  ==========================================================================
    LEGEND
    ========================================================================== */
.legend {
    padding: 14px 28px 0 28px;
    font-size: 75%;
    font-family: 'latoitalic';
}
    .legend em {
        color: #00a8a0;
    }


/*  ==========================================================================
    REPORTS
    ========================================================================== */
.report-entry {
    text-align: center;
    margin-bottom: 28px;
}
    .report-entry h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    .report-entry h3 a {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 30px 0;
        background: #ffffff;
        border-radius: 4px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .10);
        color: #404040;
        transition-duration: .25s;
    }
        .report-entry h3 a:hover { box-shadow: 0 18px 10px -12px rgba(0, 0, 0, .15); }


/*  ==========================================================================
    TONES OPTION
    ========================================================================== */
.tones-options {
    padding: 0 4px;
}
    .tones-options .radio:last-child {
        margin-bottom: 0;
    }


/*  ==========================================================================
    POSITIONS AND DEPARTMENTS
    ========================================================================== */
.dap-entry { margin: 0 -28px; }
.dap-entry:last-child { 
    margin-bottom: 0; 
    border-bottom: 1px solid #e5e5e5; 
}

.dap-control {
    width: 100%;
    position: relative;
}
    .dap-control button {
        width: 100%;
        background-color: #ffffff;
        text-align: left;
        border: 0;
        padding: 14px 28px;
        font-family: 'latobold';
        border-top: 1px solid #e5e5e5;
        line-height: 22px;
        transition-duration: .25s;
    }

    .dap-control a { color: #404040; }
    .dap-control button:hover,
    .dap-control button:not(.collapsed),
    .dap-control a:hover { color: #00a8a0; }

    .dap-control .fa {
        position: absolute;
        height: 24px;
        width: 18px;
        text-align: center;
        line-height: 24px;
        right: 28px;
        top: 13px;
    }

.dap-content {
    background-color: #f6f6f6;
    border-top: 1px solid #e5e5e5;
    padding: 14px 28px;
    position: relative;
}   

    .dap-content:after, .dap-content:before {
        top: -1px;
        left: 40px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        z-index: 1000;
    }
    .dap-content:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #ffffff;
        border-width: 6px;
        margin-left: -6px;
    }
    .dap-content:before {
        border-color: rgba(229, 229, 229, 0);
        border-top-color: #e5e5e5;
        border-width: 8px;
        margin-left: -8px;
    }