/* 	==========================================================================
	SM // SMALL // TABLET
	========================================================================== */
@media (min-width: 768px) {



}


/* 	==========================================================================
	MD // MEDIUM // SMALL DEKSTOP
	========================================================================== */
@media (min-width: 992px) {

    body {
        padding-left: 88px;
        padding-top: 0;
    }
    .body-scroll {
        position: fixed;
        top: 0;
        left: 88px;
    }
    #aside-alt {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    aside {
        margin-left: 0;
        top: 0;
        left: 0;
        width: 88px;
    }

    #upanel {
        display: block;
        padding: 20px 0;
        background: #293846;
    }
        .upanel-dp-wrap {
            position: relative;
        }
        .upanel-dp {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            overflow: hidden;
            margin: 0 auto;
            cursor: pointer;
        }

    #main-nav {
    }
    #main-nav ul li {
        display: block;
        text-align: center;
    }
    #main-nav ul li a {
        padding: 16px 0;
        position: relative;
    }
    #main-nav ul li a .fa {
        font-size: 14px;
        line-height: 22px;
        margin-right: 0;
    }
    #main-nav ul li a span {
        margin-top: 4px;
        display: block;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
    }

    .section-header {
        padding: 40px 0;
        margin-bottom: 40px;
    }
    .section-title h3 {
        font-size: 24px;
    }
    .profile-meta {
        padding-left: 28px;
    }
    .section-header-menu {
        margin-top: 14px;
    }

    .section-header-content,
    .section-content {
        padding: 0 26px;
        margin-bottom: 12px;
    }

    .page-actions {
        bottom: 14px;
        right: 14px;
    }

    .section-wcontainer { padding: 28px; }

    .profile-dp-wrap,
    .profile-dp-td {
        width: 170px;
    }

    .panel { margin-bottom: 28px; }
    .holiday-date { padding: 24px 8px; }
    .holiday-details { padding: 20px 28px; }

}


/* 	==========================================================================
	LG // LARGE // LARGE DEKSTOP
	========================================================================== */
@media (min-width: 1200px) {

	

}