.sl-checkbox-stash,.sl-controller{height:14px;width:14px;margin-bottom:0;float:left;border-radius:2px;background:none;padding:0;position:relative;font-size:12px;font-weight:normal;border:0;cursor:pointer}.sl-checkbox-stash{height:22px}.sl-controller:after,.sl-checkbox-stash:after{content:"";font-family:"FontAwesome";font-weight:12px;position:absolute;top:0;left:0;line-height:14px;width:14px;text-align:center;color:#ddd;transition-duration:0.25s}.sl-checkbox-stash:after{line-height:22px}.sl-controller.sl-select-all,.sl-selected .sl-checkbox-stash{content:"";font-family:"FontAwesome"}.sl-controller.sl-select-all:after,.sl-selected .sl-checkbox-stash:after{color:#00a8a0}

.sl-selected td {
    background: #fcfcfc;
}