.form-control.Tokenize {
    height: auto;
    padding: 0;
    position: relative;
    float: left;
}

.TokensContainer {
    padding: 0 12px 6px 4px;
}

.TokenSearch {
    background: none;
    height: 22px;
    margin-top: 6px;
    margin-left: 7px;
    float: left;
}

div.Tokenize {
    position: relative;
    display: inline-block;
    zoom: 1;
}
.form-control.Tokenize {
    border: 1px solid #e5e5e5;
}

div.Tokenize ul {
    list-style: none;
    margin: 0;
}

div.Tokenize ul li {
    white-space: nowrap;
}

div.Tokenize ul.TokensContainer {
    cursor: text;
    overflow-y: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    border-radius: 4px;
}
div.Tokenize ul.TokensContainer.Focused {
    background: #ffffff;
}

div.Tokenize ul.TokensContainer.Autosize {
    height: auto;
}

div.Tokenize.Disabled ul.TokensContainer,
div.Tokenize.Disabled ul.TokensContainer input {
    cursor: not-allowed;
}

div.Tokenize ul.TokensContainer li.Token {
    background-color: #00a8a0;
    color: #ffffff;
    line-height: 22px;
    padding: 0 24px 0 8px;
    border-radius: 4px;
    position: relative;
    margin: 6px 4px 0 4px;
    overflow: hidden;
}

div.Tokenize ul.TokensContainer li.Token span {
    display: block;
    line-height: 22px;
}
div.Tokenize ul.TokensContainer li.Token a.Close {
    position: absolute;
    height: 22px;
    width: 16px;
    color: #ffffff;
    right: 4px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    top: 0;
    cursor: pointer;
}

div.Tokenize ul.TokensContainer.ui-sortable:not(.ui-sortable-disabled) li.Token {
    cursor: move;
}

div.Tokenize ul.TokensContainer li.Token.MovingShadow  {
    border: 1px solid #fcefa1;
    background-color: #fbf9ee;
}

div.Tokenize ul.TokensContainer li.Token.PendingDelete {
    opacity : 0.5;
    -moz-opacity : 0.5;
    -ms-filter: "alpha(opacity=50)";
    filter : alpha(opacity=50);
}

div.Tokenize ul.TokensContainer li.Token {
    /*height: 24px;*/
    float: left;
}

div.Tokenize ul.TokensContainer li.TokenSearch input {
    margin: 0;
    padding: 0;
    background-color: transparent;
    line-height: 22px;
    border: none;
    outline: none;
}

div.Tokenize ul.TokensContainer li.Placeholder {
    color: #ddd;
    position: absolute;
    line-height: 20px;
    padding: 5px 0 0 5px;
    display: none;
}

div.Tokenize ul.Dropdown {
    border: 1px solid #e5e5e5;
}

div.Tokenize.Disabled ul.TokensContainer li.Token a.Close {
    display: none;
}

div.Tokenize ul.TokensContainer li.Token a.Close:hover {
    background: transparent;
    text-decoration: none;
}

div.Tokenize ul.Dropdown {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

    display: none;
    padding: 5px 0;
    position: absolute;
    left: -2px;
    right: -2px;
    top: auto;
    background-color: white;
    overflow-y: auto;

    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;

    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;

    z-index: 50;
}

div.Tokenize ul.Dropdown li {
    padding: 5px 12px;
    overflow: hidden;
    cursor: pointer;
}

div.Tokenize ul.Dropdown li.Hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #00a8a0;
}